{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Flask Demo App with Turso DB</h1>

    <p>This is a simple Flask app that connects to a Turso database to save and retrieve data. This can be used as the basis of your web app.</p>

    <p>It includes...</p>

    <ul>
        <li>Example routes</li>
        <li>Example static pages</li>
        <li>Missing page and server error pages</li>
        <li>DB connection and error handling</li>
        <li>Example CRUD actions: Create and Delete</li>
        <li>Flash messages for information</li>
    </ul>

    <article>
        <table>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Priority</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Completed</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <th scope="row">{{ task.name }}</th>
                        <td>{{task.priority}}</td>
                        <td>Make Time Work Better</td>
                        {% if task.complete == 1 %}
                            <td>
                                <form action="/toggle/{{task.id}}" method="POST">
                                    <label>
                                        <input type="checkbox" role="switch"  name="done" checked onchange="this.form.submit()">
                                        Complete
                                    </label>
                                </form>
                            </td>
                        {% else %}
                            <td>
                                <form action="/toggle/{{task.id}}" method="POST">
                                    <label>
                                        <input type="checkbox" role="switch" name="done" onchange="this.form.submit()">
                                        Incomplete
                                    </label>
                                </form>
                            </td>
                        {% endif %}
                        
                        <td>
                            <form action="/delete/{{task.id}}" method="POST">
                                <button type="submit" class="task_controls" onclick="this.setAttribute('aria-busy', 'true');">
                                  Remove
                                </button>
                            </form>
                        </td>
                    </tr>
                {% else %}

                    <p>None!</p>

                {% endfor %}
            </tbody>
            
        </table>

    </article>
    <div></div>
    <article>
        <form action="/add" method="POST">
            <fieldset role="group">
                <label>
                    <input name="name" type="text" placeholder="Enter Task Name" required>
                </label>        
                <label>
                    <select name="priority" aria-label="Select task priority" required>
                        <option selected disabled value="">
                          Select task priority
                        </option>
                        <option>5</option>
                        <option>4</option>
                        <option>3</option>
                        <option>2</option>
                        <option>1</option>
                    </select>
                </label> 
                <button>Submit</button>   
            </fieldset>
        </form>
    </article>
{% endblock %}

